#!/usr/bin/make -f

DEB_AUTO_UPDATE_DEBIAN_CONTROL = 1
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

debian/stamp-makefile-build: debian/stamp-sage-build

common-build-arch common-build-indep:: debian/stamp-sage-build
debian/stamp-sage-build:
# setup for sage build.
	(cd spkg && ./install installed/dir-0.1)
	(cd spkg && touch installed/`./standard/newest_version -base bzip2`)
	(cd spkg && touch installed/`./standard/newest_version -base prereq`)
	for i in `ls spkg/standard/*.spkg | cut -f 3 -d'/' | debian/check-use-debian.pl`; do \
	    touch spkg/installed/$$i; \
	    echo spkg/installed/$$i; \
	done
# build remaining components
#	make all
	touch $@

clean:: sage-clean
sage-clean::
	rm -f debian/stamp-sage-build

DEB_MAKE_ENVVARS += PYTHONHOME=/usr SAGE_DEBIAN=yes
DEB_MAKE_CLEAN_TARGET = distclean

common-install-arch common-install-indep:: common-install-sage
common-install-sage::
	rm -f spkg/standard/*.spkg
