<html>
<link rel=stylesheet href="/css/main.css">
<body>
<br><br><br>
<table align=center border=1 cellpadding=20 bgcolor="efefef">
<tr><td>
$mesg
<br><br>
<font size=+3><a href="yes">Yes</a> or <a href="no">No</a>?</font>
</td></tr>
</table>

</body>
</html>

