{% extends "base.html" %}

{% block title %}Account Recovery{% endblock %}
{% block css %}registration{% endblock %}

{% block body %}
<div id="wrapper">
<h1>Account Recovery</h1>
<p>A new password will be emailed to the email address connected to your account. However if you didn't confirm your email address you will be unable to recover your account.</p>

            <form method="GET" action="/forgotpass">

<table>
            <td align=right>Username:</td><td><input type="text" name="username" size="15" /></td></tr>
            <tr><td></td><td align=left><input type="submit" value="Submit" /><input type="button" value="Cancel" style="margin-left:5px" onClick="parent.location='/'"></td></tr>
            </table> </form>
			</div>


{% endblock %}