{% extends "base.html" %}

{% block title %}Account Settings{% endblock %}
{% block css %}account_settings{% endblock %}

{% block content %}
<h1>Account Settings</h1>

  <form method="post" action="/settings">

    <div class="section">
      <h2>Change Auto-Save Interval</h2>
      <div>
	  {{ autosave }}
	Minutes:
	<select name="autosave">
        {% for i, selected in autosave_intervals %}
	  <option{{ selected }}>{{ i }}</option>
	{% endfor %}
	</select>
      </div>
    </div>
    <div class="section">
      <h2>Change Password</h2>
      <div id="passwd">
        Old password: <input type="password" name="Oldpass" /><br />
        New password: <input type="password" name="Newpass" /><br />
        Retype new password: <input type="password" name="RetypePass" />
      </div>
    </div>

    {% if email %}
	<div class="section">
          <h2>Change E-mail Address</h2>

          <div>
            <table style="float:right"><tr><td>Current e-mail:</td><td>{{ email_address }}</td></tr>
            <tr><td></td><td>{{ email_confirmed }}</td></tr>
            <tr><td style="text-align:right">New e-mail:</td><td><input type="text" name="Newemail" class="c1" /></td></tr></table>
            <div style="clear:both"></div>
          </div>
        </div>
	{% endif %}
    <div id="buttons">
    <input type="submit" value="Save">
    <input type="button" value="Cancel" style="margin-left:5px" onClick="parent.location='/home/{{ username }}'">
    </div>
  </form>
{% endblock %}