
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block pre_main_css %}{% endblock %}
        <link type="text/css" rel="stylesheet" href="/css/{% block css %}master{% endblock %}.css" media="screen" />
        {% block more_css %}{% endblock %}
        {% block javascript %}{% endblock %}
    </head>
    <body {% block body_attrs %}{% endblock %}>
        {% block body %}{% endblock %}
    </body>
</html>