{% extends "base.html" %}

{% block title %}Documentation{% endblock %}

{% block css %}main{% endblock %}

{% block javascript %}
  <style>

  div.help_window {
      font-family: sans-serif;
      background-color:white;
      border: 3px solid #3d86d0;
      top: 10ex;
      bottom:10%;
      left:25%;
      right:15%;
      padding:2ex;
      width:90%;
  }


  table.help_window {
      background-color:white;
      width:95%;
  }

  td.help_window_sub {
      background-color: #f5e0aa;
      width:100%;
      padding:0.5ex;
      font-weight:bold;
  }

  td.help_window_cmd {
      background-color: #f5e0aa;
      width:30%;
      padding:0.5ex;
  }

  td.help_window_how {
      padding:0.5ex;
      width:70%;
  }
  </style>
{% endblock %}

{% block body %}

  {% include "top_bar.html" %}

        <center>
        <br>
        <a class="control" title="To quickly try out Sage start here" href="/doc/live/tutorial/index.html">Tutorial</a>
        &nbsp;&nbsp;
        <a class="control" title="View a 2000 page reference manual about Sage" href="/doc/live/reference/index.html">Reference Manual</a>
        &nbsp;&nbsp;
        <a class="control" title="Learn to write Sage programs" href="/doc/live/developer/index.html">Developer Guide</a>
        &nbsp;&nbsp;
        <a class="control" title="How do I construct ... in Sage?" href="/doc/live/constructions/index.html">Constructions</a>
        <br><br>
        <a class="control" title="Static version..." href="/doc/static/">Fast Static Versions of the Documentation</a>
        &nbsp;&nbsp;
        <a class="control" title="IRC" href="http://www.sagemath.org/help-irc.html">Help via Internet Chat (IRC)</a>
        <hr class="usercontrol">
        <br>

        <div class="help_window">
        <h2>How to use the Sage Notebook</h2>

        <br><br>

        A <i>worksheet</i> is an ordered list of Sage calculations with output. <br>
        A <i>session</i> is a worksheet and a set of variables in some state.<br>
        The <i>Sage notebook</i> is a collection of worksheets, saved objects, and user information.<br>
        <br><br>

        <table class="help_window">

        {% for x, y in notebook_help %}
          <tr><td class="help_window_sub", colspan="2">{{ x }}</td></tr>
        {% for z, w in y %}
          <tr><td class="help_window_cmd">{{ z }}</td><td class="help_window_how">{{ w }}</td></tr>
        {% endfor %}
        {% endfor %}
	</table></div>
        <br>        <br>
        The Sage Notebook was primarily written by William Stein with substantial contributions from Tom Boothby, Timothy Clemans, Alex Clemesha, Mike Hansen, Bobby Moretti, Yi Qiang, and Dorian Raymer.
        </center>
{% endblock %}
