{% extends "base.html" %}

{% block title %}Sage: History for {{username}} {% endblock %}

{% block css %}main{% endblock %}

{% block body %}

{% include 'list_top.html' %}

    <pre>
      {{ text | escape }}
    </pre>
    <hr class="usercontrol">
    <a title="Click here to turn the above into a Sage worksheet" href="/live_history">Create a new Sage worksheet version of the last 100 commands in the above log.</a>
    <a name="bottom"></a>
    <script type="text/javascript"> window.location="#bottom"</script>

{% endblock %}
