{% include 'top_bar.html' %}
{% set actions = True %}
{% if not pub %}
        <a class="boldusercontrol" href="/new_worksheet">New Worksheet</a>
        <a class="boldusercontrol" href="/upload">Upload</a>
{% endif %}
        <span class="flush-right">
        <input id="search_worksheets" size=20 onkeypress="return search_worksheets_enter_pressed(event, '{{ typ }}');" value="{{ search }}"></input>
        <button class="add_new_worksheet_menu" onClick="search_worksheets('{{ typ }}');">Search Worksheets</button>
        &nbsp;&nbsp;&nbsp;
        </span>
        <br>
        <hr class="usercontrol">
		{% if not pub %}
            {% if typ == 'archive' %}
                <button onClick="make_active_button();" title="Unarchive selected worksheets so it appears in the default worksheet list">Unarchive</button>
            {% else %}
                <button onClick="archive_button();" title="Archive selected worksheets so they do not appear in the default worksheet list">Archive</button>
            {% endif %}
            {% if typ != 'trash' %}
                &nbsp;&nbsp;<button onClick="delete_button();" title="Move the selected worksheets to the trash">Delete</button>
            {% else %}
                &nbsp;&nbsp;<button onClick="make_active_button();" title="Move the selected worksheets out of the trash">Undelete</button>
            {% endif %}

            &nbsp;&nbsp;<button onClick="stop_worksheets_button();" title="Stop selected worksheets">Stop</button>

            <span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Current Folder:
            &nbsp;<a class="{{ 'bold' if typ == 'active' else '' }}usercontrol" href=".">Active</a>
            &nbsp;<a class="{{ 'bold' if typ == 'archive' else '' }}usercontrol" href=".?typ=archive">Archived</a>
            &nbsp;<a class="{{ 'bold' if typ == 'trash' else '' }}usercontrol" href=".?typ=trash">Trash</a>&nbsp;&nbsp;
            {% if typ == 'trash' %}
                &nbsp;<a class="boldusercontrol" onClick="empty_trash();return false;" href="">(Empty Trash)</a>
			{% endif %}
            </span>
            {% endif %}