{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}
<div id="wrapper">
<h1>Sign up for a Sage Notebook account</h1>
$error
<form method="POST" action="/register">
<ol>
<li><h2>Create a username</h2>
<p>Your username must start with a letter and be between 4 and 32 characters long. You may only use letters, numbers, underscores, and one dot (.).</p>
<input type="text" name="username" value="{{ username }}" class="entry" />
{% if username_error %}

{% endif %}
</li>
<li><h2>Create a good password</h2>
<p>Your password must be between 6 and 32 characters long. Your password can not contain your username nor spaces.</p>
<input type="password" name="password" class="entry" />
{% if password_error %}

{% endif %}
</li>
<li><h2>Re-type your password</h2>
<input type="password" name="retype_password" class="entry" />
{% if confirm_pass_error %}

{% endif %}
</li>
$email_box
</ol>
<input type="submit" value="Create account" class="button" />
<input type="button" value="Cancel" style="margin-left:10px" onClick="parent.location='/'" class="button" />
</form>
</div>
{% endblock %}