{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block css %}registration{% endblock %}

{% block body %}
<div id="wrapper">
<h1>Sign up for a Sage Notebook account</h1>
{% if error %}
<h2 class="error_found">Error{{ error[1:] }}found</h2>
{% endif %}
<form method="POST" action="/register">
<ol>
<li><h2>Create a username</h2>
<p>Your username must start with a letter and be between 4 and 32 characters long. You may only use letters, numbers, underscores, and one dot (.).</p>
<input type="text" name="username" value="{{ username }}" class="entry" />
{% if username_missing %}
<p><span class="error">Error:</span> No username given</p>
{% endif %}
{% if username_taken %}
<p><span class="error">Error:</span> Username already in use</p>
{% endif %}
{% if username_invalid %}
<p><span class="error">Error:</span> Bad username</p>
{% endif %}
</li>
<li><h2>Create a good password</h2>
<p>Your password must be between 6 and 32 characters long. Your password can not contain your username nor spaces.</p>
<input type="password" name="password" class="entry" />
{% if password_missing %}
<p><span class="error">Error:</span> No password given</p>
{% endif %}
{% if password_invalid %}
<p><span class="error">Error:</span> Bad password</p>
{% endif %}
</li>
<li><h2>Re-type your password</h2>
<input type="password" name="retype_password" class="entry" />
{% if passwords_dont_match or retype_password_missing %}
<p><span class="error">Error:</span> Passwords didn't match</p>
{% endif %}
</li>
{% if email or email_missing or email_invaild %}
<li><h2>Enter your email address</h2>
<p>Your email address is required for account confirmation and recovery. You will be emailed a confirmation link right after you successfully sign up.</p>
<input type="text" name="email" value="{{ email_address }}" class="entry" />
{% if email_missing %}
<p><span class="error">Error:</span> No email address given</p>
{% endif %}
{% if email_invalid %}
<p><span class="error">Error:</span> Invalid email address</p>
{% endif %}
</li>
{% endif %}
</ol>
<input type="submit" value="Create account" class="button" />
<input type="button" value="Cancel" style="margin-left:10px" onClick="parent.location='/'" class="button" />
</form>
</div>
{% endblock %}
