{% extends "base.html" %}

{% block title %}{{ src_filename }} - Source Code{% endblock %}

{% block css %}main{% endblock %}

{% block body %}
{% include "top_bar.html" %}
<h1 align=center>Sage Source Browser</h1>
<h2 align=center><tt>{{ src_filename }}  <a href="..">(browse directory)</a></tt></h2>
<br><hr><br>
<font size=+1><pre id="code">{{ src }}</pre></font>
<br><hr><br>
<script src="/highlight/prettify.js" type="text/javascript"></script>
<script type="text/javascript">
function get_element(id) {
  if(document.getElementById)
    return document.getElementById(id);
  if(document.all)
    return document.all[id];
  if(document.layers)
    return document.layers[id];
}

var x = get_element("code");
x.innerHTML = prettyPrintOne(x.innerHTML);
</script>
{% endblock %}