
<table width="100%%">
  <tr>
    <td>
      {% include 'banner.html' %}
    </td>
    <td align=right id=controls>
      <span class="username">{{ username }}</span>

      {% if username == 'guest' %}
        <span class="vbar"></span><a title="Please log in to the Sage notebook" class="usercontrol" href="/">Log in</a>
      {% else %}
        <span class="vbar"></span><a title="Back to your personal worksheet list" class="usercontrol" href="/home/{{ username }}">Home</a>
        {% if pub %}
          <span class="vbar"></span><span class="usercontrol">Published</span>
        {% else %}
          <span class="vbar"></span><a title="Browse the published worksheets" class="usercontrol" href="/pub">Published</a>
          <span class="vbar"></span><a title="View a log of recent computations" class="usercontrol" onClick="history_window()">Log</a>
        {% endif %}

        <span class="vbar"></span><a title="Documentation" class="usercontrol" onClick="help()">Help</a>
        <span class="vbar"></span><a title="Change account settings including password" class="usercontrol" href="/settings">Settings</a>
        <span class="vbar"></span><a title="Log out of the Sage notebook" class="usercontrol" href="/logout">Sign out</a>
      {% endif %}
    </td>
  </tr>
</table>
<hr class="usercontrol">