{% extends "base.html" %}

{% block title %}Upload File{% endblock %}

{% block css %}main{% endblock %}

{% block body %}
<div class="upload_worksheet_menu" id="upload_worksheet_menu">
{% include "top_bar.html" %}
<h1><font size=+1>Upload worksheet (an sws or txt file) to the Sage Notebook</font></h1>
<hr>
<form method="POST" action="upload_worksheet"
      name="upload" enctype="multipart/form-data">
<table><tr>
<td>
Browse your computer to select a worksheet file to upload:<br>
<input class="upload_worksheet_menu" size="50" type="file" name="fileField" id="upload_worksheet_filename"></input><br><br>
Or enter the url of a worksheet file on the web:<br>

<input class="upload_worksheet_menu" size="50" type="text" name="urlField" id="upload_worksheet_url"></input>
<br><br>
What do you want to call it? (if different than the original name)<br>
<input class="upload_worksheet_menu" size="50" type="text" name="nameField" id="upload_worksheet_name"></input></br>
</td>
</tr>
<tr>
<td><br><input type="button" class="upload_worksheet_menu" value="Upload Worksheet" onClick="form.submit();"></td>
</tr>
</form><br>
</div>
{% endblock %}