
        <html><head><title>Users | {{ sitename }}</title>
        <style>
        body {
            font:1em Arial, Sans-serif;
        }

        table {
            border-collapse:collapse
        }

        th, td {
            border:1px solid #696969;
            padding:5px
        }

        th {
            background:#CCC
        }

        a:link, a:visited {
            color:blue
        }
        </style>
        </head>
        <body>
        <h1>User Management</h1>
        <a href="/adduser">Add User</a> | <a href="/settings">My Settings</a> | <a href="/">My Worksheets</a> | <a href="/logout">Sign Out</a> {% if number_of_users %} <br/><br/>{{ number_of_users }} users {% endif %}<br/><br/>
        {% if reset %}
        <p>The password for the user {{ reset[0] }} has been reset to <strong>{{ reset[1] }}</strong></p>
        {% endif %}
        <table>
        <tr><th>Users</th><th>Password</th><th>Suspension</th></tr>
        {% for user in users %}
        {% if user != 'admin' %}
       <tr><td><a href="/home/{{ user }}/">{{ user }}</a></td><td><a href="/users/?reset={{ user }}">Reset</a></td><td><a href="/users/?suspension={{ user }}">{% if user.is_suspended() %}Unsuspend{% else %}Suspend{% endif %}</td></tr>
        {% endif %}
        {% endfor %}
        </table>
        </body></html>