{% extends "base.html" %}

{% if pub %}
  {% set worksheet_heading='Published Worksheets' %}
{% elif typ == 'trash' %}
  {% set worksheet_heading='Deleted Worksheets' %}
{% elif typ == 'active' %}
  {% set worksheet_heading='Active Worksheets' %}
{% else %}
  {% set worksheet_heading='Archived Worksheets' %}
{% endif %}


{% block title %}
{{ worksheet_heading }}
{% endblock %}

{% block css %}main{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="/javascript/main.js"></script>
  {% if not pub %}
    <script type="text/javascript">
    var worksheet_filenames = {{ worksheet_filenames }};
    </script>
    <script type="text/javascript" src="/javascript_local/jquery/jquery.js"></script>
    <script type="text/javascript" src="/javascript/gears/gears_init.js"></script>
    <script type="text/javascript" src="/javascript/gears/shortcut.js"></script>
  {% endif %}
{% endblock %}

{% block onload %} onLoad="checkForGearsInstalled();"{% endblock %}

{% block body %}

{% include "list_top.html" %}


{% if not pub %}
    {% if typ == 'archive' %}
    <button onClick="make_active_button();" title="Unarchive selected worksheets so it appears in the default worksheet list">Unarchive</button>
    {% else %}
    <button onClick="archive_button();" title="Archive selected worksheets so they do not appear in the default worksheet list">Archive</button>
    {% endif %}

    {% if typ != 'trash' %}
    <button onClick="delete_button();" title="Move the selected worksheets to the trash">Delete</button>
    {% else %}
    <button onClick="make_active_button();" title="Move the selected worksheets out of the trash">Undelete</button>
    {% endif %}

    <button onClick="stop_worksheets_button();" title="Stop selected worksheets">Stop</button>
    <span style="padding-left:100px;">

    Current Folder:
    <a class="{{ 'bold' if typ == 'active' else '' }}usercontrol" href=".">Active</a>
    <a class="{{ 'bold' if typ == 'archive' else '' }}usercontrol" href=".?typ=archive">Archived</a>
    <a class="{{ 'bold' if typ == 'trash' else '' }}usercontrol" href=".?typ=trash">Trash</a>

    {% if typ == 'trash' %}
    <a class="boldusercontrol" onClick="empty_trash();return false;" href="">(Empty Trash)</a>
    {% endif %}

    </span>
{% endif %}

<br><br>

<table width="100%" border=0 cellspacing=0 cellpadding=0>
  <tr class="greybox"><td colspan=4><div class="thinspace"></div></td></tr>
  <tr class="greybox">
    {% if not pub %}
    <td><input id="controlbox" onClick="set_worksheet_list_checks();" class="entry" type=checkbox></td>
    {% else %}
    <td><a class="listcontrol" href=".?sort=rating">Rating</a></td>
    {% endif %}

    <td>
      <a class="listcontrol" href=".?typ={{ typ }}&sort=name{{ '' if sort != 'name' or reverse else '&reverse=True' }}">
      {{ worksheet_heading }}
      </a>
    </td>

    <td>
      <a class="listcontrol" href=".?typ={{ typ }}&sort=owner{{ '' if sort != 'owner' or reverse else '&reverse=True' }}">
      Owner {{ '' if pub else ' / Collaborators' }}
      </a>
    </td>

    <td>
      <a class="listcontrol" href=".?typ={{ typ }}&{{ '' if sort != 'last_edited' or reverse else 'reverse=True' }}">
      Last Edited
      </a>
    </td>
  </tr>

  <tr class="greybox"><td colspan=4><div class="thinspace"></div></td></tr>

  {% if not worksheets %}
    {% if pub %}
    <tr>
      <td colspan="5" style="padding:20px;text-align:center">
        There are no published worksheets.
      </td>
    </tr>
    {% elif typ == 'active' %}
    <tr>
      <td colspan="5" style="padding:20px;text-align:center">
        Welcome to Sage! You can <a href="/new_worksheet">create a new worksheet</a>,
        view <a href="/pub/">published worksheets</a>, or read the
        <a href="/help" target="_new">documentation</a>.
      </td>
    </tr>
    {% endif %}
  {% else %}

    {% for worksheet in worksheets %}
    {% set name = worksheet.filename() %}
    <tr>
      <td class="entry">
	{% if pub %}

	<a class="worksheet_edit" href="/home/{{ name }}/rating_info">
	{% if worksheet.rating() < 0 %}
	----
	{% else %}
	{{ worksheet.rating() }}
	{% endif %}
	</a>

	{% else %}

	<input type=checkbox unchecked id="{{ name }}">
	<select onchange="go_option(this);" class="worksheet_edit">
	  <option value="" title="File options" selected>File</option>
	  <option value="list_rename_worksheet('{{ name }}','{{ worksheet.name() }}');" title="Change the name of this worksheet.">
	    Rename...
	  </option>
	  <option value="list_edit_worksheet('{{ name }}');" title="Open this worksheet and edit it">Edit</option>
	  <option value="list_copy_worksheet('{{ name }}');" title="Copy this worksheet">Copy Worksheet</option>
	  <option value="list_share_worksheet('{{ name }}');" title="Share this worksheet with others">Collaborate</option>
	  <option value="list_publish_worksheet('{{ name }}');" title="Publish this worksheet on the internet">Publish</option>
	  <option value="list_revisions_of_worksheet('{{ name }}');" title="See all revisions of this worksheet">Revisions</option>
	</select>

        {% endif %}
      </td>

      <td class="worksheet_link">
	<a title="{{ worksheet.name() | escape }}" id="name/{{ name }}" class="worksheetname" target="_blank" href="/home/{{ name }}">
	{% if worksheet.compute_process_has_been_started() %}(running) {% endif %}
	{{ worksheet.truncated_name(35) | escape}}
	</a>

	{% if not pub and worksheet.is_published() %}(Published){% endif %}
      </td>
      <td class="owner_collab">

    {% if not pub %}
        {{ worksheet.owner() }}
    {% else %}
        {{worksheet.worksheet_that_was_published().owner()}}
    {% endif %}

	{% if not pub and typ != 'trash' %}

	{% set shared = False %}

	{% if worksheet.collaborator_names() %}
	  / {{ worksheet.collaborator_names(5) }}
	  {% set shared = True %}
	{% endif %}

	{% if worksheet.viewer_names() %}
	  / {{ worksheet.viewer_names(5) }}
	  {% set shared = True %}
	{% endif %}

	{% if (worksheet.owner() != username) or username == 'admin' %}
	  {% set shared = False %}
	{% endif %}

	{% if shared %}
	<a class="share" href="/home/{{ worksheet.filename() }}/share">Add or Delete</a>
	{% else %}
	<a class="share" href="/home/{{ worksheet.filename() }}/share">Share now</a>
	{% endif %}

	{% if worksheet.has_published_version() %}
	<a href="/home/{{ worksheet.published_version().filename() }}">
	(published)
	</a>
	{% endif %}

	{% endif %}
      </td>
      <td>
	{{ worksheet.html_time_since_last_edited() }}
      </td>
    </tr>

    <tr class="thingreybox"><td colspan=4><div class="ultrathinspace"></div></td></tr>
    {% endfor %}
  {% endif %}
  </table>
{% endblock %}
