{#
INPUT:
- cell_id - id for the cell of the completions
- completions_enumerated - enumerated (enumerate()) 2D list of completions in
column-major order
#}
<ul class='completion_menu_one'
    {% for col_i, column in completions_enumerated %}
    <li class='completion_menu_one'>
        <ul class='completion_menu_two'>
        {% for row in column %}
            <li id='completion{{ cell_id }}_{{ loop.index0 }}_{{ col_i }}' class='completion_menu_two'>
                <a onClick='do_replacement({{ cell_id }}, "{{ row }}"); return false;'
                   onMouseOver='this.focus(); select_replacement({{ loop.index0 }},{{ col_i }});'>{{ row }}</a>
            </li>
        {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
