{#
INPUT
- name - string with worksheet name
- filename_ - string with worksheet filename
- data - list of data to put in the Data menu
- systems_enumerated - enumerated list of systems
- system_names - list of system names
- current_system_index - the currently selected system_index
- pretty_print - a boolean stating whether to typeset as default
- doc_worksheet - a boolean stating whether the worksheet is the doc worksheet
#}
&nbsp;&nbsp;&nbsp;<select class="worksheet"  onchange="go_option(this);">
    <option title="Select a file related function" value=""  selected>File...</option>
    <option title="Load a new worksheet stored in a file" value="upload_worksheet_button();">Upload worksheet from a file</option>
    <option title="Create a new worksheet" value="new_worksheet();">New worksheet</option>
    <option title="Save this worksheet to an sws file" value="download_worksheet('{{ name }}');">Download to a file</option>
    <option title="Print this worksheet" value="print_worksheet();">Print</option>
    <option title="Rename this worksheet" value="rename_worksheet();">Rename worksheet</option>
    <option title="Copy this worksheet" value="copy_worksheet();">Copy worksheet</option>
    <option title="Move this worksheet to the trash" value="delete_worksheet('{{ filename_ }}');">Delete worksheet</option>
</select>

<select class="worksheet"  onchange="go_option(this);" >
    <option title="Select a worksheet function" value="" selected>Action...</option>
    <option title="Interrupt currently running calculations, if possible" value="interrupt();">Interrupt</option>
    <option title="Restart the worksheet process" value="restart_sage();">Restart worksheet</option>
    <option title="Quit the worksheet process" value="save_worksheet_and_close();">Save and quit worksheet</option>
    <option value="">---------------------------</option>
    <option title="Evaluate all input cells in the worksheet" value="evaluate_all();">Evaluate All</option>
    <option title="Hide all output" value="hide_all();">Hide All Output</option>
    <option title="Show all output" value="show_all();">Show All Output</option>
    <option title="Delete all output" value="delete_all_output();">Delete All Output</option>
    <option value="">---------------------------</option>
    <option title="Switch to single-cell mode" value="slide_mode();">One Cell Mode</option>
    <option title="Switch to multi-cell mode" value="cell_mode();">Multi Cell Mode</option>
</select>

<select class="worksheet" onchange="handle_data_menu(this);" >
    <option title="Select an attached file" value="" selected>Data...</option>
    <option title="Upload or create a data file in a wide range of formats" value="__upload_data_file__">Upload or create file...</option>
    <option value="">--------------------</option>
    {% for name in data %}
    <option value="datafile?name={{ option }}">{{ option }}</option>
    {% endfor %}
</select>

{% if not doc_worksheet %}
<select onchange="go_system_select(this, {{ current_system_index }});" class="worksheet">
    {% for system_index, system_name in systems_enumerated %}
        <option title="Evaluate all input cells using {{ system_names[system_index] }}"
            {{ "selected" if current_system_index == system_index else "" }} value="{{ system_names[system_index] }}">
            {{ system_name }}
        </option>
    {% endfor %}
</select>
<input type="checkbox" title="Enable/disable pretty_printing"
       onchange="pretty_print_check(this.checked);"
       class="worksheet" value="pretty_print" {{ "checked" if pretty_print else "" }} />&nbsp;Typeset
{% endif %}