
{#
INPUT:
- worksheet - Worksheet instance
- select - a boolean
- backwards - a boolean
#}
{% if not worksheet.is_doc_worksheet() %}
{% macro cls(x) %}
{{ "control-select" if x == select else "control" }}
{% endmacro %}
{% macro backwards_text %}
{{ "../" if backwards else "" }}
{% endmacro %}
<a title="Print this worksheet" class="usercontrol" onClick="print_worksheet()"><img border=0 src="/images/icon_print.gif" alt="Print">Print</a>
<a class="{{ cls('use') }}" title="Interactively use this worksheet" onClick="edit_worksheet();">Worksheet</a>
<a class="{{ cls('edit') }}" title="Edit text version of this worksheet" href="{{ backwards_text() }}edit">Edit</a>
<a class="{{ cls('text') }}" title="View plain text version of this worksheet" href="{{ backwards_text() }}text">Text</a>
<a class="{{ cls('undo') }}" title="View changes to this worksheet over time" href="{{ backwards_text() }}revisions">Undo</a>
<a class="{{ cls('share') }}" title="Let others edit this worksheet" href="{{ backwards_text() }}share">Share</a>
<a class="{{ cls('publish') }}" title="Make this worksheet publicly viewable" href="{{ backwards_text() }}publish">Publish</a>
{% endif %}
