{#
- worksheet - Worksheet instance
- name - escaped name of the worksheet
- username - string of username
- doc_worksheet - boolean stating whether the worksheet is the doc worksheet
- warn - boolean stating whether to warn that another user is viewing
         the worksheet
#}
<div class="worksheet_title">
     <a id="worksheet_title" class="worksheet_title" onClick="rename_worksheet(); return false;" title="Click to rename this worksheet">{{ name }}</a>
     <br> {{ worksheet.html_time_last_edited() }}
     {% if warn and username != 'guest' and not doc_worksheet%}
     &nbsp;&nbsp;<span class="pingdown">(Someone else is viewing this worksheet)</span>
     {% endif %}
 </div>