{#
INPUT:
- do_print - a boolean
- cell_id_list - a list of cell id's
- confirm_before_leave - a boolean stating whether to popup a js confirm
  dialog before leaving
- cells_html - string of cells HTML
- published - a boolean stating whether the worksheet is published
#}
{% include "worksheet/worksheet_body.html" %}

{% if do_print %}
<script language="javascript">jsMath.ProcessBeforeShowing();</script>
{% else %}
<script type="text/javascript">cell_id_list={{ cell_id_list }};</script>
{% endif %}

{% if not do_print and confirm_before_leave %}
<script type="text/javascript">
            window.onbeforeunload = confirmBrowseAway;
            function confirmBrowseAway()
            {
            return "Unsubmitted cells will be lost.";
            }
</script>
{% endif %}