{#
INPUT:
- cells_html - string of cells HTML
- published - a boolean stating whether the worksheet is published
#}

<div class="cell_input_active" id="cell_resizer"></div>
{% if not published %}
<div class="worksheet_cell_list" id="worksheet_cell_list">
{% endif %}

{{ cells_html }}

{% if not do_print and not published %}
</div>
<div class="insert_new_cell" id="insert_last_cell"></div>
<script type="text/javascript">
        $("#insert_last_cell").plainclick(function(e) {insert_new_cell_after(cell_id_list[cell_id_list.length-1]);});
        $("#insert_last_cell").shiftclick(function(e) {insert_new_text_cell_after(cell_id_list[cell_id_list.length-1]);});
</script>
<div class="worksheet_bottom_padding"></div>
{% endif %}

