{% extends "base.html" %}
{#
INPUT:
- worksheet - an instance of Worksheet
- worksheet_filename - a string containing a worksheet's filename
- username - a string containing a username
- JSMATH - a boolean stating whether to include jsMath
- JSMATH_IMAGE_FONTS - a boolean stating whether to include jsMath iamage fonts
- JEDITABLE_TINYMCE - a boolean stating whether to include jEditable and TinyMCE
- sage_jsmath_macros - an array containing strings of Javascript of Sage macros for jsMath
#}

{% include "notebook/head.tmpl" %}

{% block title %}
{{ common_title(worksheet_filename, worksheet) }}
{% endblock %}

{% block css %}main{% endblock %}

{% block morecss %}<style type="text/css" rel="stylesheet" href="_static/default.css" media="screen" />{% endblock %}

{% block javascript %}
{{ common_javascript(worksheet, worksheet_filename, username, JSMATH, JSMATH_IMAGE_FONTS, JEDITABLE_TINYMCE, sage_jsmath_macros) }}
{% endblock %}

{% block body %}
<br />
<div class="docidx">
    <h1>Sage Documentation</h1>
    <br />
    <hr class="usercontrol" />
    <br /><br />
    <font size=+2>
        <a href="/doc/live/">Live Documentation</a><br /><br />
        <a href="/doc/static/">Static Documentation</a><br /><br />
        <a href="/help/">Sage Notebook Howto</a><br /><br />
        <br /><br />
        <br />
        <hr class="usercontrol" />
    </font>
</div>
{% endblock %}