
{% extends "notebook/worksheet_page_template.html" %}
{#
INPUT:
- worksheet - an instance of Worksheet
- worksheet_filename - a string containing a worksheet's filename
- username - a string containing a username
- active_worksheets - a list of the Worksheet instances that are active for username
- filename_ - the name of the file
- path - the path to the file
- file_is_image - a boolean stating whether the file is an image
- file_is_text - a boolean stating whether the file is a text file
- text_file_content - a string containing the content of a text file
- JSMATH - a boolean stating whether to include jsMath
- JSMATH_IMAGE_FONTS - a boolean stating whether to include jsMath iamage fonts
- JEDITABLE_TINYMCE - a boolean stating whether to include jEditable and TinyMCE
- sage_jsmath_macros - an array containing strings of Javascript of Sage macros for jsMath
#}
{% set title = "Data file: %s"|format(filename_) %}

{% block body_addition %}
<p>You may download <a href="{{ path }}">{{ filename_ }}</a> or create a linked copy to the worksheet <select onchange="go_option(this);" class="worksheet">
<option selected>select worksheet</option>
{% for worksheet in active_worksheets %}
    <option value='link_datafile("{{ worksheet.filename() }}","{{ filename_ }}")'>{{ worksheet.name() }}</option>
{% endfor %}
</select> or <a href="/home/{{ worksheet.filename() }}/datafile?name={{ filename_ }}&action=delete">delete {{ filename_ }}.</a></p>

<p>Access {{ filename_ }} in this worksheet by typing <tt>DATA+'{{ filename_ }}'</tt>.  Here DATA is a special variable that gives the exact path to all data files uploaded to this worksheet.</p>

<hr class="usercontrol" />

{% if file_is_image %}
<div align=center><img src="{{ path }}"></div>
{% elif file_is_text %}
<form method="post" action="savedatafile" enctype="multipart/form-data">
    <input type="submit" value="Save Changes" name="button_save" /> <input type="submit" value="Cancel" name="button_cancel" style="display:block" />
    <textarea class="edit" name="textfield" rows=17 cols=70 id="textfield">{{ text_file_content }}</textarea>
    <input type="hidden" name="filename" value="{{ filename_ }}" id="filename" />
</form>
{% endif %}
{% endblock %}




