{% extends "notebook/worksheet_page_template.html" %}
{#
INPUT:
- worksheet - an instance of Worksheet
- worksheet_filename - a string containing a worksheet's filename
- username - a string containing a username
- text - a string containing the text of the worksheet
- n_lines - number of lines of the text of the worksheet
- JSMATH - a boolean stating whether to include jsMath
- JSMATH_IMAGE_FONTS - a boolean stating whether to include jsMath iamage fonts
- JEDITABLE_TINYMCE - a boolean stating whether to include jEditable and TinyMCE
- sage_jsmath_macros - an array containing strings of Javascript of Sage macros for jsMath
#}

{% set title = 'Edit plain text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Save Changes" name="button_save" id="button_save"> <input type="submit" value="Cancel" name="button_cancel">' %}
{% set select = "edit" %}

{% block before_sharebar %}
<form method="post" action="save" enctype="multipart/form-data">
{% endblock %}
{% block body_addition %}
<script type="text/javascript">
    function save_worksheet() {
    }
    function save_worksheet_and_close() {
    }
</script>
    <textarea class="plaintextedit" id="cell_intext" name="textfield" rows="{{ n_lines }}">{{ text }}</textarea>
</form>
{% endblock %}
