
{#
INPUT:
- original_worksheet - an instance of Worksheet
- worksheet - an instance of Worksheet
- notebook - an instance of Notebook which contains worksheet
- worksheet_html - a string containing the html for the worksheet
- username - a string containing a username
#}
{% if original_worksheet.is_collaborator(username) or original_worksheet.is_owner(username) %}
    {% set edit_text = "Edit this." %}
    {% set url       = "edit_published_page" %}
{% elif notebook.user_is_guest(username) %}
    {% set edit_text = "Log in to edit a copy." %}
    {% set url       = "/" %}
{% else %}
    {% set edit_text = "Edit a copy." %}
    {% set url       = "edit_published_page" %}
{% endif %}

{% set download_name = os.path.split(worksheet.name())[-1] %}

<a class="usercontrol" href="{{ url }}">{{ edit_text }}</a>
&nbsp;&nbsp;<a class="usercontrol" href="download/{{ download_name }}.sws">Download.</a>
&nbsp;&nbsp;<span class="ratingmsg">
    {% if worksheet.rating() != -1 %}
        <a class="usercontrol" href="rating_info">
            This page is rated {{ "%.1f"|format(worksheet.rating()) }}.
        </a>
    {% endif %}
    {% if not notebook.user_is_guest(username)
        and not worksheet.is_publisher(username) %}
        &nbsp;&nbsp;
        <span class="usercontrol">
            {{ "Rerate" if worksheet.is_rater(username) else "Rate" }} it:
        </span>
        {% for i in range(5) %}
            <a class="usercontrol"
               onClick="rate_worksheet({{ i }})">
                &nbsp;{{ i }}&nbsp;
            </a>
        {% endfor %}
            &nbsp;&nbsp; <input name="rating_comment" id="rating_comment"></input>
    {% endif %}
</span>
<span class="pubmsg">
    <a href="/pub/">Other published documents...</a>
</span>
<hr class="usercontrol" />
<h1 align="center">{{ original_worksheet.name() }}</h1>
<h2 align="center">{{ worksheet.html_time_since_last_edited() }}</h2>
{{ worksheet_html }}
<hr class="usercontrol" />
{% for i in range(10) %}
&nbsp;
{% endfor %}

