
{#
INPUT:
- worksheet - an instance of Worksheet
- worksheet_filename - a string containing a worksheet's filename
- username - a string containing a user's name
- JSMATH - a boolean stating whether to include jsMath
- JSMATH_IMAGE_FONTS - a boolean stating whether to include jsMath iamage fonts
- JEDITABLE_TINYMCE - a boolean stating whether to include jEditable and TinyMCE
- sage_jsmath_macros - an array containing strings of Javascript of Sage macros for jsMath
  #}
{% macro common_title(worksheet_filename, worksheet) %}
    {% if worksheet_filename %}
        {{ worksheet.name() }} (Sage)
    {% else %}
        Sage Notebook | Welcome
    {% endif %}
{% endmacro %}

{% macro common_css %}
<link rel=stylesheet href="/css/main.css" type="text/css" />
{% endmacro %}

{% macro common_javascript(worksheet, worksheet_filename, username, JSMATH, JSMATH_IMAGE_FONTS, JEDITABLE_TINYMCE, sage_jsmath_macros) %}
<!-- Load the Sage javascript library. -->
<script type="text/javascript" src="/javascript_local/jquery/jquery.js"></script>
<script type="text/javascript" src="/javascript/main.js"></script>

{% if JSMATH %}
    <!-- Turn off font warning. -->
    <style>
        #jsMath_Warning {display: none}
    </style>
    <script type="text/javascript">
        jsMath = {Controls: {cookie: {scale: 115}}}
    </script>
    {% if not JSMATH_IMAGE_FONTS %}
        <script type="text/javascript" src="/javascript_local/jsmath/plugins/noImageFonts.js"></script>
    {% endif %}
    <!-- Move the jsMath button 20 pixels from the right edge
         (apparently in some browsers, it covers up the scroll
         bar) -->
    <script type="text/javascript">
        jsMath.styles = {
            '#jsMath_button':
                'position:fixed; bottom:1px; right:20px; background-color:white;'
                    + 'border: solid 1px #959595; margin:0px; padding: 0px 3px 1px 3px; '
                    + 'z-index:102; color:black; text-decoration:none; font-size:x-small; '
                    + 'width:auto; cursor:hand;',
        };
    </script>
    <script type="text/javascript" src="/javascript_local/jsmath/jsMath.js"></script>
    <script type="text/javascript">
        /* The extensions here do the following:
            - verb implements the \verb command:
              see http://www.math.union.edu/~dpvc/jsMath/authors/verb.html
            - moreArrows implements \xrightarrow, among other things:
              see http://www.math.union.edu/~dpvc/jsMath/authors//moreArrows.html
            - AMSmath implements a number of AMS math commands:
              see http://www.math.union.edu/~dpvc/jsMath/authors/AMSmath.html
        */
        jsMath.Extension.Require("verb");
        jsMath.Extension.Require("moreArrows");
        jsMath.Extension.Require("AMSmath");
        jsMath.Extension.Require("AMSsymbols");
    </script>
{% endif %}
<!-- Import LaTeX macros -->
{% for m in sage_jsmath_macros %}
<script> {{ m }} </script>
{% endfor %}

<!-- Load the jquery and ui-jquery javascript library.
     This is used for interact functionality in the notebook, and will be used
     to enable drag and drop, image zoom, etc. -->
<script type="text/javascript" src="/javascript_local/jqueryui/jquery.ui.all.min.js"></script>
<script type="text/javascript" src="/javascript_local/jquery/plugins/farbtastic/farbtastic.min.js"></script>
<script type="text/javascript" src="/javascript_local/jquery/plugins/dimensions/jquery.dimensions.min.js"></script>
<script type="text/javascript" src="/javascript_local/jquery/plugins/jquery.event.extendedclick.js"></script>

<link rel="stylesheet" href="/javascript_local/jquery/plugins/farbtastic/farbtastic.css" type="text/css" />
<link rel="stylesheet" href="/javascript_local/jqueryui/themes/flora/flora.all.css" />

<!-- TODO: get the lazy loading plugin -->

<!-- TODO: Load individual ui plugins, not the whole package:
     <script type="text/javascript" src="/javascript_local/jqueryui/ui.mouse.min.js"></script>
     <script type="text/javascript" src="/javascript_local/jqueryui/ui.slider.min.js"></script>
     <script type="text/javascript" src="/javascript_local/jqueryui/ui.draggable.min.js"></script>
     <script type="text/javascript" src="/javascript_local/jqueryui/ui.draggable.ext.min.js"></script>
     <script type="text/javascript" src="/javascript_local/jqueryui/ui.resizable.min.js"></script>
     <script type="text/javascript" src="/javascript_local/jqueryui/ui.dialog.min.js"></script>
-->

<!-- This was for syntax highlighting
     <script type="text/javascript" src="/javascript/highlight/prettify.js"></script>
     <link rel=stylesheet href="/css/highlight/prettify.css" type="text/css" />
-->

<script type="text/javascript" src="/javascript/sage3d.js"></script

<!-- Jmol - embedded 3D graphics -->
<script type="text/javascript" src="/java/jmol/appletweb/Jmol.js"></script>
<script>jmolInitialize("/java/jmol");jmolSetCallback("menuFile","/java/jmol/appletweb/SageMenu.mnu");</script> <!-- This must stay in <head> -->

<!-- TinyMCE and jEditable - in-place editing of text cells -->
{% if JEDITABLE_TINYMCE %}
    <script type="text/javascript" src="/javascript_local/tiny_mce/tiny_mce.js"></script>
    <script src="/javascript_local/jquery/plugins/jquery.jeditable.mini.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">

    function toggleEditor(id) {
            if (!tinyMCE.get(id))
                    tinyMCE.execCommand('mceAddControl', false, id);
            else
                    tinyMCE.execCommand('mceRemoveControl', false, id);
    }

    $.fn.tinymce = function(options){
       return this.each(function(){
          tinyMCE.execCommand("mceAddControl", true, this.id);
       });
    }

    function initMCE(){
       tinyMCE.init({mode : "none",
          plugins: "table,searchreplace,safari,paste,autosave",
          theme : "advanced",
          theme_advanced_toolbar_location : "top",
          theme_advanced_toolbar_align : "left",
          theme_advanced_statusbar_location : "bottom",
          theme_advanced_buttons1 : "\
    formatselect,fontselect,fontsizeselect,bold,italic,underline,strikethrough,forecolor,backcolor,|,\
    bullist,numlist,|,\
    undo,redo,search,pastetext,pasteword",
          theme_advanced_buttons2 : "\
    justifyleft,justifycenter,justifyright,justifyfull,outdent,indent,|,\
    charmap,|,\
    table,tablecontrols,|,\
    code,|,\
    link,image,unlink",
          theme_advanced_buttons3 : "",
          theme_advanced_resizing : true,
          setup : function(ed) {
          ed.onKeyDown.add(function(ed, e) {
              if(key_enter_shift(key_event(e))) {
                $(ed.formElement).submit();
              }
          })}
       });
    };

    initMCE();


    $.editable.addInputType('mce', {
       element : function(settings, original) {
          var textarea = $('<textarea id="'+$(original).attr("id")+'_mce"/>');
          if (settings.rows) {
             textarea.attr('rows', settings.rows);
          } else {
             textarea.height(settings.height);
          }
          if (settings.cols) {
             textarea.attr('cols', settings.cols);
          } else {
             textarea.width(settings.width);
          }
          $(this).append(textarea);
             return(textarea);
          },
       plugin : function(settings, original) {
          tinyMCE.execCommand("mceAddControl", true, $(original).attr("id")+'_mce');
          },
       submit : function(settings, original) {
          tinyMCE.triggerSave();
          tinyMCE.execCommand("mceRemoveControl", true, $(original).attr("id")+'_mce');
          },
       reset : function(settings, original) {
          tinyMCE.execCommand("mceRemoveControl", true, $(original).attr("id")+'_mce');
          original.reset();
       }
    });
    </script>
{% endif %}
<script type="text/javascript">user_name= "{{ username }}";</script>
{% if worksheet_filename %}
<script  type="text/javascript">
    worksheet_filename="{{ worksheet_filename }}";
    worksheet_name="{{ worksheet.name() }}";
    server_ping_while_alive();
</script>
{% endif %}
<!-- Uncomment this to force rename when the worksheet is opened (annoying!)
     if W and
        W.name() == "Untitled":
        <script  type="text/javascript">setTimeout("rename_worksheet()",1)</script> -->
{% endmacro %}