{% extends "base.html" %}
{#
INPUT:
- worksheet - an instance of Worksheet
- worksheet_filename - a string containing a worksheet's filename
- worksheet_html - a string containing the html for the worksheet
- notebook - an instance of Notebook which contains worksheet
- username - a string containing a username
- show_debug - a boolean stating whether to show debug information
- JSMATH - a boolean stating whether to include jsMath
- JSMATH_IMAGE_FONTS - a boolean stating whether to include jsMath iamage fonts
- JEDITABLE_TINYMCE - a boolean stating whether to include jEditable and TinyMCE
- sage_jsmath_macros - an array containing strings of Javascript of Sage macros for jsMath
#}

{% if not select %}
    {% set select = none %}
{% endif %}

{% if not backwards %}
    {% set backwards = false %}
{% endif %}

{% include "notebook/head.tmpl" %}

{% block title %}
{{ common_title(worksheet_filename, worksheet) }}
{% endblock %}

{% block css %}main{% endblock %}

{% block javascript %}
{{ common_javascript(worksheet, worksheet_filename, username, JSMATH, JSMATH_IMAGE_FONTS, JEDITABLE_TINYMCE, sage_jsmath_macros) }}
{% endblock %}

{% block body_attrs %}
class="worksheet-online" onLoad="initialize_the_notebook();"
{% endblock %}

{% block body %}
{% if worksheet.is_published() or notebook.user_is_guest(username) %}
    {% set original_worksheet = worksheet.worksheet_that_was_published() %}
    {% include "notebook/guest_top_bar_and_worksheet.html" %}
{% else %}
    {% include "notebook/top_bar_and_worksheet.html" %}
{% endif %}
{% if not worksheet %}
    </td></tr></table></span>
{% endif %}
{% if worksheet.user_is_only_viewer(username) %}
    <script type="text/javascript">worksheet_locked=true;</script>
{% else %}
    <script type="text/javascript">worksheet_locked=false;</script>
{% endif %}
{% if worksheet.computing() %}
    <!-- Set the update checking back in motion. -->
    <script type="text/javascript">
        active_cell_list = {{ worksheet.queue_id_list() }};
        for(var i = 0; i < active_cell_list.length; i++) {
            cell_set_running(active_cell_list[i]);
        }
        start_update_check();
    </script>
{% endif %}
{% endblock %}
