
<div class="hidden" id="slide_controls">
    <div class="slideshow_control">
        <a class="slide_arrow" onClick="slide_next()">&gt;</a>
        <a class="slide_arrow" onClick="slide_last()">&gt;&gt;</a> <span class="vbar"></span>
        <a class="cell_mode" onClick="cell_mode()">Exit</a>
    </div>
    <div class="slideshow_progress" id="slideshow_progress" onClick="slide_next()">
        <div class="slideshow_progress_bar" id="slideshow_progress_bar">&nbsp;</div>
        <div class="slideshow_progress_text" id="slideshow_progress_text">&nbsp;</div>
    </div>
    <div class="slideshow_control">
        <a class="slide_arrow" onClick="slide_first()">&lt;&lt;</a>
        <a class="slide_arrow" onClick="slide_prev()">&lt;</a>
    </div>
</div>







