
{#
INPUT:
- username - a string containing a username
- worksheet_filename - a string containing a worksheet's filename
- worksheet_html - a string containing the html for a worksheet
- show_debug - a boolean stating whether to show debug information
  #}
{% include "notebook/user_controls.tmpl" %}
{% include "notebook/worksheet_topbar.tmpl" %}
{% set entries = [("$('#topbar').toggle()", 'Toggle', 'Toggle the top bar'),
                       ('/', 'Home', 'Back to your personal worksheet list'),
                       ('/pub', 'Published', 'Browse the published worksheets'),
                       ('history_window()', 'Log', 'View a log of recent computations'),
                       ('/settings', 'Settings', 'Account Settings'),
                       ('bugreport()', 'Report a Problem', 'Report a problem or submit a bug to improve Sage'),
                       ('help()', 'Help', 'Documentation'),
                       ('/logout', 'Sign out', 'Log out of the Sage notebook')] %}
<table width="100%">
    <tr>
        <td>{% include "banner.html" %}</td>
        <td align="right">{{ user_controls(username, entries) }}</td>
    </tr>
</table>
{% if worksheet_filename %}
{{ worksheet_topbar(worksheet, "use", username) }}
{% endif %}
{% if show_debug %}
{% include "notebook/debug_window.html" %}
{% endif %}

<div class="worksheet" id="worksheet">
    {{ worksheet_html }}
</div>
