
{% macro user_controls(user, entries) %}
    <span class="username">{{ user }}</span>
    {% for href, name, title in entries %}
        {% if '(' in href %}
            {% set action = 'onClick="' ~ href ~ '"' %}
        {% else %}
            {% set action = 'href="' ~ href ~ '"' %}
        {% endif %}
        <span class="vbar"></span>
        <a title="{{ title }}" class="usercontrol" {{ action }}>{{ name }}</a>
    {% endfor %}
{% endmacro %}
