
{% extends "notebook/worksheet_page_template.html" %}
{#
INPUT:
    - worksheet - an instance of Worksheet
    - worksheet_filename - a string containing a worksheet's filename
    - username - a string containing a username
    - other_users - a list of strings containing other users names
    - user_is_admin - a boolean stating whether the user is an admin
    - JSMATH - a boolean stating whether to include jsMath
    - JSMATH_IMAGE_FONTS - a boolean stating whether to include jsMath iamage fonts
    - JEDITABLE_TINYMCE - a boolean stating whether to include jEditable and TinyMCE
    - sage_jsmath_macros - an array containing strings of Javascript of Sage macros for jsMath
#}

{% set title = "Share this document" %}
{% set select = "share" %}

{% block body_addition %}
{% if not (user_is_admin or username == worksheet.owner()) %}
    Only the owner of a worksheet is allowed to share it. You can do whatever you want if you <a href="copy">make your own copy</a>.
{% else %}
<p>This Sage Worksheet is currently shared with the people listed in the box below.</p>
<p style="margin-bottom:1em">You may add or remove collaborators (separate user names by commas).</p>

<form width=70% method="post" action="invite_collab" style="margin-bottom:1em">
    <textarea name="collaborators" rows=5 cols=70 class="edit" id="collaborators" style="display:block; margin-bottom:1em;">{{ worksheet.collaborators()|join(', ') }}</textarea>
    <input type="submit" title="Give access to your worksheet to the above collaborators" value="Invite Collaborators" />
</form>

<hr class="usercontrol" />
<span class="username">Sage Users:</span>
<span class="users">
    {{ other_users|join(', ') }}
</span>
{% endif %}
{% endblock %}
