
{#
INPUT:
     - worksheet_name - a string containing a worksheet's name
     - worksheet_html - a string containing the html for a worksheet
     - do_print - a boolean stating whether to render a print version of the
                  worksheet
  #}
{% extends "base.html" %}

{% block title %}Sage Worksheet: {{ worksheet_name }}{% endblock %}

{% block css %}main{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/javascript_local/jquery/jquery.js"></script>
<script type="text/javascript" src="/javascript/main.js"></script>
{% if do_print %}
    <script type="text/javascript" src="/javascript_local/jsmath/jsMath.js"></script>
{% endif %}
{% endblock %}

{% block body_attrs %}
{% if not do_print %}
    class="worksheet-online" onLoad="initialize_the_notebook();"
{% endif %}
{% endblock %}

{% block body %}
{% if do_print %}
    <div class="worksheet_print_title"> {{ worksheet_name }}</div>
{% endif %}
{{ worksheet_html }}
{% if do_print %}
    <script type="text/javascript">jsMath.Process();</script>
{% endif %}
{% endblock %}