
{% extends "notebook/worksheet_page_template.html" %}
{#
INPUT:
- data - a list of pairs of the form ('how long ago', key)
- worksheet - an instance of Worksheet
- worksheet_filename - a string containing a worksheet's filename
- username - a string containing a username
- JSMATH - a boolean stating whether to include jsMath
- JSMATH_IMAGE_FONTS - a boolean stating whether to include jsMath iamage fonts
- JEDITABLE_TINYMCE - a boolean stating whether to include jEditable and TinyMCE
- sage_jsmath_macros - an array containing strings of Javascript of Sage macros for jsMath
  #}


{% set title  = "Revision History" %}
{% set select = "revisions" %}

{% block body_addition %}
<hr class="usercontrol">
<table width="100%%">
    <tr>
        <td width="1%%"></td>
        <td width="20%%"><b>Revision</b></td>
        <td width="20%%"><b>Last Edited</b></td>
        <td width="30%%"></td>
    </tr>
{% for desc, key in data|reverse %}
    <tr>
        <td></td>
        <td><a href="revisions?rev={{ key }}">Revision {{ loop.revindex0 }}</a></td>
        <td><span class="revs">{{ desc }}</span></td>
    </tr>
{% endfor %}
</table>
{% endblock %}