{% extends "base.html" %}
{#
INPUT:
- worksheet - an instance of Worksheet
- worksheet_filename - a string containing a worksheet's filename
- username - a string containing a username
- title - a string
- select    - a string containing the control that is selected
- backwards - a boolean
- JSMATH - a boolean stating whether to include jsMath
- JSMATH_IMAGE_FONTS - a boolean stating whether to include jsMath iamage fonts
- JEDITABLE_TINYMCE - a boolean stating whether to include jEditable and TinyMCE
- sage_jsmath_macros - an array containing strings of Javascript of Sage macros for jsMath
#}

{% if not select %}
    {% set select = none %}
{% endif %}

{% if not backwards %}
    {% set backwards = false %}
{% endif %}

{% include "notebook/head.tmpl" %}
{% include "notebook/worksheet_top.tmpl" %}
{% include "notebook/worksheet_topbar.tmpl" %}

{% block title %}
{{ common_title(worksheet_filename, worksheet) }}
{% endblock %}

{% block css %}main{% endblock %}

{% block javascript %}
{{ common_javascript(worksheet, worksheet_filename, username, JSMATH, JSMATH_IMAGE_FONTS, JEDITABLE_TINYMCE, sage_jsmath_macros) }}
{% endblock %}

{% block body %}
{{ worksheet_top(username) }}
{{ worksheet_topbar(worksheet, select, username, backwards) }}
<hr class="usercontrol" />
{% block before_sharebar %}{% endblock %}
<span class="sharebar">{{ title }}</span>
<br /><br /><br />
{% block body_addition %}{% endblock %}
{% endblock %}