
{% extends "notebook/worksheet_page_template.html" %}
{#
INPUT:
- worksheet - an instance of Worksheet
- worksheet_filename - a string containing a worksheet's filename
- username - a string containing a username
- JSMATH - a boolean stating whether to include jsMath
- JSMATH_IMAGE_FONTS - a boolean stating whether to include jsMath iamage fonts
- JEDITABLE_TINYMCE - a boolean stating whether to include jEditable and TinyMCE
- sage_jsmath_macros - an array containing strings of Javascript of Sage macros for jsMath
#}

{% set title = 'Worksheet Settings &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button name="button_save">Save Settings</button>  <input type="submit" value="Cancel" name="button_cancel"/>' %}

{% block before_sharebar %}
<form width=70%% method="post" action="input_settings"  enctype="multipart/form-data">
{% endblock %}
{% block body_addition %}
</form>
{% endblock %}



