body {
margin: 0px;
padding: 0px;
background-color: #363942;
}

table.jobs_table, table.job_details {
    border: solid #000 1px;
    border-bottom: solid #000 1px;
    border-right: solid #000 1px;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
table.jobs_table tr.tr0, table.job_details tr.tr0 {
    font-size:16px;
    background-color: #FFFFFF;
}
table.jobs_table tr.tr1, table.job_details tr.tr1 {
    font-size:16px;
    background-color: #D8CAA8;
}
table.jobs_table tr.thead, table.job_details tr.thead {
    width:100%;
    height:20px;
    font-size:16px;
    background-color: #D8CAA8;
    font-family: 'verdana';
}

table.jobs_table A:link, table.job_details A:link {
    color: #193441;#999
}
table.jobs_table A:visited, table.job_details A:link {
    color: #3E606F;
}

#codeh {
    width:100%;
    height:30px;
    background-color:#D8CAA8;
    font-size:18px;
    font-family: 'verdana';
}

#header {
    width:100%;
    height:80px;
    background-color:#284907;
    margin-left: auto;
    margin-right: auto;
}

#header form {
    color:#FFFFFF;
}
#header h1{
    font-size:24px;
    font-family: 'lucida grande', verdana, lucida, sans-serif;
    color:#FFFFFF;
    letter-spacing:0.04cm;
    padding-top:10px;
    padding-bottom:10px;
    margin:0px;
}

#header h4{
    font-size:10px;
    color:#FFFFFF;
    padding-left:36px;
    padding-bottom:4px;
    margin-top:0px;
}