body {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0px;
    background-color: #363942;
}

div.code {
    display:block;
    font: 1em 'Courier New', Courier, Fixed, monospace;
    font-size : 100%;
    color: #000;
    /*background : #fff url(http://www.estudiowas.com.ar/images/preback.jpg) no-repeat left top;*/
    overflow : auto;
    text-align:left;
    border : 1px solid #5581C0;
    /*padding : 0px 20px 0 15px;*/
    margin:1em 0 1em 0;
    /*line-height:17px;*/
    font-weight:normal!important;
}

#quick_help {
    border: 4px solid red;
    padding: 5px 5px 5px 5px;
}

#page {
    background-color: white;
    outline: #aaaaaa solid thin;
    padding: 1%;
    font-family: arial, helvetica, sans-serif;
}

#page_header {
    width:100%;
    height:40px;
    /*background-color:#284907;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:30px;
    color: #69BFDE;
}

#server_text {
    font-size:12px;
    color: black;
}

#header form {
    color:#FFFFFF;
}

#title {
    font-size:24px;
    font-family: 'lucida grande', verdana, lucida, sans-serif;
    color:#FFFFFF;
    letter-spacing:0.04cm;
    padding-top:10px;
    padding-bottom:10px;
    margin:0px;
}

#page_nav {
    font-size: 10px;
    text-align: center;
    padding-bottom: 5px;
}
#navigator {
    padding-top: 5px;
    font-size: 10px;
    text-align: center;
}

#server_title {
    font-size: 24px;
}

#help {
    font-size: 12px;
}

#add_client_help {
    width: 30%;
    height: 100%;
    border: 1px solid red;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
    position: relative;
    top:-180px;
    left:50%;
}

#pubkey {
    position: relative;
    left: 87px;
    top: -15px
}

/* begin css tabs */
ul#tabnav {
    text-align: left; /* set to left, right or center */
    margin: 5px 0px 5px 0px; /* set margins as desired */
    font: 11px verdana, arial, sans-serif; /* set font as desired */
    border-bottom: 1px solid #000   ; /* set border COLOR as desired */
    list-style-type: none;
    padding-top: 0px;
    padding-bottom: 3px;
    padding-left: 0px;
}

ul#tabnav li {/* do not change */
    display: inline;
}

body#tab1 li.tab1, body#tab2 li.tab2, body#tab3 li.tab3, body#tab4 li.tab4 {/* settings for selected tab */
    border-bottom: 1px solid #fff; /* set border color to page background color */
    background-color: #fff; /* set background color to match above border color */
}


body#tab1 li.tab1 a, body#tab2 li.tab2 a, body#tab3 li.tab3 a, body#tab4 li.tab4 a {/* settings for selected tab link */
    background-color: #CF0; /* set selected tab background color as desired
    /*color: blue;*/ /* set selected tab link color as desired */
    position: relative;
    /*padding-top: 100px;*/ /* must change with respect to padding (X) above and below */
}

ul#tabnav li a {/* settings for all tab links */
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-left: 3px;
/*    padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
    border: 1px solid #A7A37E; /* set border COLOR as desired; usually matches border color specified in #tabnav */
    background-color: #E6E2AF; /* set unselected tab background color as desired */
    color: #666; /* set unselected tab link color as desired */
    margin-right: 0px; /* set additional spacing between tabs as desired */
    text-decoration: none;
    border-bottom: none;
    font-size:14px;
}
ul#tabnav a:hover {/* settings for hover effect */
    background: #FFF; /* set desired hover color */
}
/* end css tabs */

table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}


/*This hack was suggested by Timothy Clemans to get rid of the dotted frame around an image
*/
:focus {
    outline:none
}