<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultArguments</key>
	<dict/>
	<key>SageBinary</key>
	<string>/Applications/</string>
	<key>TerminalEmulator</key>
	<string>Terminal</string>
	<key>TerminalEmulatorList</key>
	<dict>
		<key>Terminal</key>
		<string>set the_script to &quot;%@; exit&quot;

tell application &quot;System Events&quot;
	if &quot;Terminal&quot; is in name of every application process then
		tell application &quot;Terminal&quot;
			activate
			do script the_script
		end tell
	else
		-- It&apos;s not running, so it will create a window
		-- when it starts.  We reuse this window.
		tell application &quot;Terminal&quot;
			activate
			do script the_script in window 1
		end tell
	end if
end tell</string>
		<key>Terminal - don&apos;t exit</key>
		<string>set the_script to &quot;%@&quot;

tell application &quot;System Events&quot;
	if &quot;Terminal&quot; is in name of every application process then
		tell application &quot;Terminal&quot;
			activate
			do script the_script
		end tell
	else
		-- It&apos;s not running, so it will create a window
		-- when it starts.  We reuse this window.
		tell application &quot;Terminal&quot;
			activate
			do script the_script in window 1
		end tell
	end if
end tell</string>
		<key>iTerm</key>
		<string>set the_script to &quot;%@; exit&quot;

tell application &quot;System Events&quot;
	set is_running to (&quot;iTerm&quot; is in name of every application process)
end tell

tell application &quot;iTerm&quot;
	if is_running then
		set myterm to make new terminal
		tell myterm to launch session &quot;Default&quot;
		set mysession to last session of myterm
	else
		set mysession to (session 1 of terminal 1)
	end if
	tell the mysession
		write text the_script
	end tell
	activate
end tell</string>
		<key>iTerm - don&apos;t exit</key>
		<string>set the_script to &quot;%@&quot;

tell application &quot;System Events&quot;
	set is_running to (&quot;iTerm&quot; is in name of every application process)
end tell

tell application &quot;iTerm&quot;
	if is_running then
		set myterm to make new terminal
		tell myterm to launch session &quot;Default&quot;
		set mysession to last session of myterm
	else
		set mysession to (session 1 of terminal 1)
	end if
	tell the mysession
		write text the_script
	end tell
	activate
end tell</string>
		<key>xterm</key>
		<string>do shell script &quot;xterm -e &apos;%@&apos; &amp;&quot;</string>
		<key>xterm - don&apos;t exit</key>
		<string>do shell script &quot;xterm -hold -e &apos;%@&apos; &amp;&quot;</string>
	</dict>
	<key>alsoShowMenuExtra</key>
	<true/>
	<key>alwaysPromptForArguments</key>
	<false/>
	<key>editFullCommands</key>
	<false/>
	<key>myShowInDock</key>
	<true/>
	<key>respectSAGE_BROWSER</key>
	<false/>
	<key>sageURLs</key>
	<array>
		<string>help/</string>
		<string>doc/static/tutorial/index.html</string>
		<string>doc/static/a_tour_of_sage/index.html</string>
		<string>doc/static/reference/index.html</string>
		<string>doc/static/developer/index.html</string>
		<string>http://sagemath.org/</string>
		<string>http://wiki.sagemath.org/support/ReportingBugs</string>
		<string>http://trac.sagemath.org/sage_trac/</string>
		<string>http://sagemath.org/help-groups.html</string>
		<string>http://wiki.sagemath.org/</string>
		<string>irc://irc.freenode.net/#sage-devel</string>
		<string>http://ask.sagemath.org/</string>
	</array>
	<key>startServerOnLaunch</key>
	<true/>
	<key>useAltSageBinary</key>
	<false/>
	<key>useSystemBrowser</key>
	<true/>
	<key>autoStartServer</key>
	<true/>
</dict>
</plist>
