<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>sage-document-sage.icns</string>
			<key>CFBundleTypeName</key>
			<string>Sage Script</string>
			<key>CFBundleTypeRole</key>
			<string>Shell</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.sagemath.sage-source</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>sage-document-sws.icns</string>
			<key>CFBundleTypeName</key>
			<string>Sage Worksheet</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.sagemath.sage-worksheet</string>
				<string>com.pkware.zip-archive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>sage-document-spkg.icns</string>
			<key>CFBundleTypeName</key>
			<string>Sage Package</string>
			<key>CFBundleTypeRole</key>
			<string>Shell</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.sagemath.sage-package</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>sage-document-py.icns</string>
			<key>CFBundleTypeName</key>
			<string>Python Script</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>public.python-script</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Shell</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>sage-document.icns</string>
			<key>CFBundleTypeName</key>
			<string>HTML file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.html</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Text File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeIconFile</key>
			<string>sage-document.icns</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.text</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Directory (to use as sage directory)</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.folder</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>appl.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.sagemath.Sage</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>SAGE_VERSION</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>Web Page</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
				<string>https</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>SAGE_VERSION</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Sage SAGE_VERSION Copyright 2005-2011 The Sage Development Team</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
				<string>public.shell-script</string>
				<string>public.python-script</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sage Source Code</string>
			<key>UTTypeIconFile</key>
			<string>sage-document-sage.icns</string>
			<key>UTTypeIdentifier</key>
			<string>org.sagemath.sage-source</string>
			<key>UTTypeReferenceURL</key>
			<string>http://doc.sagemath.org/html/en/reference/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sage</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
				<string>public.shell-script</string>
				<string>public.python-script</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Cython Source Code</string>
			<key>UTTypeIconFile</key>
			<string>sage-document-cython.icns</string>
			<key>UTTypeIdentifier</key>
			<string>org.cython.cython-source</string>
			<key>UTTypeReferenceURL</key>
			<string>http://cython.org/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pyx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
				<string>public.shell-script</string>
				<string>public.python-script</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Cython Declaration File</string>
			<key>UTTypeIconFile</key>
			<string>sage-document-cython.icns</string>
			<key>UTTypeIdentifier</key>
			<string>org.cython.cython-header</string>
			<key>UTTypeReferenceURL</key>
			<string>http://cython.org/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pxd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
				<string>public.shell-script</string>
				<string>public.python-script</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sage Preparsed Cython Source Code</string>
			<key>UTTypeIconFile</key>
			<string>sage-document-cython.icns</string>
			<key>UTTypeIdentifier</key>
			<string>org.sagemath.sage-cython-source</string>
			<key>UTTypeReferenceURL</key>
			<string>http://cython.org/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>spyx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sage Worksheet</string>
			<key>UTTypeIconFile</key>
			<string>sage-document-sws.icns</string>
			<key>UTTypeIdentifier</key>
			<string>org.sagemath.sage-worksheet</string>
			<key>UTTypeReferenceURL</key>
			<string>http://doc.sagemath.org/html/en/reference/sagenb/storage/filesystem_storage.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sws</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sage Package</string>
			<key>UTTypeIconFile</key>
			<string>sage-document-spkg.icns</string>
			<key>UTTypeIdentifier</key>
			<string>org.sagemath.sage-package</string>
			<key>UTTypeReferenceURL</key>
			<string>http://doc.sagemath.org/html/en/developer/producing_spkgs.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>spkg</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
