.hg
build
.cython_hash
*.so
*.dblite
*.os
*.c
*.cpp
refs/*
sage/misc/allocator.h
sage/rings/complex_double.h
sage/rings/complex_double_api.h
sage/rings/integer.h
sage/rings/rational.h

!sage/libs/*.cpp
!sage/graphs/planarity/graphEmbed.c
!sage/graphs/planarity/planarity.c
!sage/graphs/planarity/stack.c
!sage/graphs/planarity/graphPreprocess.c
!sage/graphs/planarity/graphStructure.c
!sage/graphs/planarity/graphIO.c
!sage/graphs/planarity/graphNonplanar.c
!sage/graphs/planarity/graphTests.c
!sage/graphs/planarity/listcoll.c
!sage/graphs/planarity/graphIsolator.c
!c_lib/src/gmp_globals.c
!c_lib/src/stdsage.c
!c_lib/src/mpz_pylong.c
!c_lib/src/mpn_pylong.c
!c_lib/src/convert.c
!c_lib/src/interrupt.c
!sage/libs/linbox/matrix_rational_dense_linbox.cpp
!sage/schemes/hyperelliptic_curves/hypellfrob/hypellfrob.cpp
!sage/schemes/hyperelliptic_curves/hypellfrob/recurrences_zn_poly.cpp
!sage/schemes/hyperelliptic_curves/hypellfrob/recurrences_ntl.cpp
!c_lib/src/ZZ_pylong.cpp
!c_lib/src/ntl_wrap.cpp

