global-include *.c *.cc *.cpp *.h *.hh *.hpp *.inc *.py *.pyx *.pxd *.pxi *.rst *.txt *.tex

include MANIFEST.in

include c_lib/SConstruct
graft   sage/libs/gap/test
recursive-include sage
recursive-exclude sage/ext/interpreters *.c *.h *.pyx *.pxd
exclude sage/libs/pari/gen.h
exclude sage/modular/arithgroup/farey_symbol.h
exclude sage/rings/real_mpfi.h
exclude sage/symbolic/pynac.h

graft   doc/common/static
graft   doc/common/themes
include doc/common/python.inv
include doc/common/update-python-inv.sh
include doc/en/introspect/static/empty
include doc/en/introspect/templates/layout.html
include doc/en/website/static/pdf.png
include doc/en/website/templates/index.html
include doc/en/a_tour_of_sage/eigen_plot.png
include doc/en/a_tour_of_sage/sin_plot.png
include doc/en/bordeaux_2008/birch.png
include doc/en/bordeaux_2008/modpcurve.png
include doc/en/developer/sagenb/branch_dropdown.png
include doc/en/developer/sagenb/forking_button.png
include doc/en/developer/sagenb/pull_button.png
include doc/fr/a_tour_of_sage/eigen_plot.png
include doc/fr/a_tour_of_sage/sin_plot.png
include doc/tr/a_tour_of_sage/eigen_plot.png
include doc/tr/a_tour_of_sage/sin_plot.png
graft   doc/en/reference/*/media
graft   doc/en/thematic_tutorials/media
graft   doc/en/prep/media
prune   doc/en/reference/*/sage
prune   doc/en/reference/*/sagenb
prune   doc/output
