name: Build & Test

on:
  push:
  workflow_dispatch:
    # Allow to run manually

concurrency:
  # Cancel previous runs of this workflow for the same branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/sagemath/sage/sage-docker-ubuntu-focal-standard-with-targets:dev
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up node to install pyright
        uses: actions/setup-node@v1
        with:
          node-version: '12'

      - name: Install pyright
        run: npm install -g pyright

      - name: Prepare
        run: |
          # Reuse built SAGE_LOCAL contained in the Docker image 
          ./bootstrap
          ./configure --enable-build-as-root --prefix=/sage/local --with-sage-venv --enable-editable
          # Install test tools
          apt-get install -y git
          ./sage -python -m pip install coverage
      
      - name: Static code check with pyright
        run: pyright    
      
      - name: Build
        run: make build
        env:
          MAKE: make -j2
          SAGE_NUM_THREADS: 2

      - name: Test
        run: ../sage -python -m coverage run ./bin/sage-runtests --all -p2
        working-directory: ./src

      - name: Prepare coverage results
        if: always()
        run: |
          ./venv/bin/python3 -m coverage combine src/.coverage/
          ./venv/bin/python3 -m coverage xml
          find . -name *coverage*
      
      - name: Upload coverage to codecov
        if: always()
        uses: codecov/codecov-action@v2
        with:
          files: ./coverage.xml
